<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

  function handleSend(correct) {
    var selectedOption = document.querySelector('input[name="alternative"]:checked');
    var c = correct.getAttribute('data-correct-alternative');
    var errorCounter = <%= @error_counter %>
    if (selectedOption.value != c) {
      if (errorCounter === -1){
        errorCounter = 1;
      }
      else{
        errorCounter = 2;
      }
      var wrong_one = selectedOption.value
    }
    else{
      errorCounter = 0;
      var wrong_one = "none"
    }
    var csrfToken = document.querySelector("meta[name=csrf-token]").content;
    $.ajax({
      type: "POST",
      url: "/update_error_counter",
      data: { id: <%= @alternative_question.id %>, error_counter: errorCounter, wrong_one: wrong_one },
      headers: {
        "X-CSRF-Token": csrfToken
      }
    });
  }
</script>

<style>

  .send-button {
    position: relative;
    bottom: 20px;
    right: 20px; 
  }

  .continue-button {
    position: relative;
    bottom: 20px; 
    right: 150px; 
  }
</style>

<div style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 200px;">
  <div>
    <div style= "display: flex;"> 
      <h3 style="margin-right: 15px;"><b>Tarea</b></h3> 
      <h3><b><%= @task.number %></b></h3>
      <h5 style= "margin-top: 5px; margin-left: 20px;">Simple</h5> 
    </div>
    <div style="background-color: white; width: 1050px; border: 2px solid #dbdbdb">
        <div class = "align-items-center" style="background-color: #dbdbdb; height: 40px; display: flex;">
          <span style="margin-left: 10px; font-size: 19px;">Pregunta <%= @alternative_question.join_user_alternative_questions.first.order_number %></span>
          <span style="font-size: 16px; margin-left: 895px; margin-right: 10px;">(<%= @alternative_question.join_user_alternative_questions.first.order_number %>/<%= @total_questions %>)</span>        
        </div>
        <div style= "margin-top: 20px; margin-left: 20px; margin-right: 20px;">
          <span style="font-size: 21px;"><%= @alternative_question.question %></span>
        </div>
        <hr style="margin: 0; border: 1.5px solid #dbdbdb; margin-top: 10px; margin-left: 30px; margin-right: 40px;">
        <div style="margin-top: 20px; margin-left: 20px;">
          <label for="alternative_a">
          <% if @answer_a_show %>
          <input type="radio" id="alternative_a" name="alternative" value="A" disabled>
          A)
          <%= @alternative_question.alternative_a %>
        <% else %>
          <input type="radio" id="alternative_a" name="alternative" value="A">
          A)
          <%= @alternative_question.alternative_a %>
        <% end %>
          </label>
          <% if @error_counter == 0 && @alternative_question.correct_alternative == "A" %>
            <div class="alert alert-success" style = "margin-top: 5px; margin-bottom: 5px" role="alert">¡Correcto, bien hecho!</div> 
          <% end %>
          <% if @answer_a_show %>
            <div class="alert alert-danger" style = "margin-top: 5px; margin-bottom: 5px" role="alert"><b>¡Incorrecta!</b><br><%=@alternative_question.alternative_a_answer%></div>
          <% end %>
        </div>
        <div style="margin-top: 20px; margin-left: 20px;">
          <label for="alternative_b">
          <% if @answer_b_show %>
          <input type="radio" id="alternative_b" name="alternative" value="B" disabled>
          B)
          <%= @alternative_question.alternative_b %>
        <% else %>
          <input type="radio" id="alternative_b" name="alternative" value="B">
          B)
          <%= @alternative_question.alternative_b %>
        <% end %>
          </label>
          <% if @error_counter == 0 && @alternative_question.correct_alternative == "B" %>
            <div class="alert alert-success" style = "margin-top: 5px; margin-bottom: 5px" role="alert">¡Correcto, bien hecho!</div> 
          <% end %>
          <% if @answer_b_show %>
            <div class="alert alert-danger" style = "margin-top: 5px; margin-bottom: 5px" role="alert"><b>¡Incorrecta!</b><br><%=@alternative_question.alternative_b_answer%></div>
          <% end %>
        </div>
        <div style="margin-top: 20px; margin-left: 20px;">
          <label for="alternative_c">
            <% if @answer_c_show %>
              <input type="radio" id="alternative_c" name="alternative" value="C" disabled>
              C)
              <%= @alternative_question.alternative_c %>
            <% else %>
              <input type="radio" id="alternative_c" name="alternative" value="C">
              C)
              <%= @alternative_question.alternative_c %>
            <% end %>
          </label>
          <% if @error_counter == 0 && @alternative_question.correct_alternative == "C" %>
            <div class="alert alert-success" style = "margin-top: 5px; margin-bottom: 5px" role="alert">¡Correcto, bien hecho!</div> 
          <% end %>
          <% if @answer_c_show %>
            <div class="alert alert-danger" style = "margin-top: 5px; margin-bottom: 5px" role="alert"><b>¡Incorrecta!</b><br><%=@alternative_question.alternative_c_answer%></div>
          <% end %>
        </div>
        <meta name="csrf-token" content="<%= form_authenticity_token %>" />
        <% if @error_counter == 1 || @error_counter == -1 %>
          <div style="margin-top: 20px; margin-left: 20px;">
            <button style="margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;" type="submit" data-correct-alternative="<%= @alternative_question.correct_alternative %>" data-alternative-id="<%= @alternative_question.id %>" onclick= "handleSend(this)" >Enviar</button>
          </div>
        <% end %>
        <% if @error_counter == 0 || @error_counter == 2 %>
          <% if @alternative_question.join_user_alternative_questions.first.order_number == @total_questions%>
            <a href="/" style= "margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;" type="submit" >Continuar</a>
          <% else %>
            <a href="<%= task_alternative_question_path(@task, @next_question) %>" style= "margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;" type="submit" >Continuar</a>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
