<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 270px); 
        grid-gap: 27px; 
    }

    .grid-item {
        width: 270px;
        height: 190px;
        background-color: #ccc;
        border: 1px solid #000;
    }

    .task-content {
        height: 58px;
        width: 268px;
        background-color: white;
        margin-top: 130px;
    }

    .vertical-line {
        border-right: 3px solid #b8b9b9;
        height: 650px;
        position: absolute;
        top: 100px;
        right: 480px;
    }

    .grid-container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    .colorP0 {
        background-color: #ff5757; 
    }

    .colorP1 {
        background-color: #ffd357 
    }

    .colorP2 {
        background-color: #95ff57; 
    }

    .colorC0 {
        background-color: #97fcff
    }

    .colorC1 {
        background-color: #6f69fe; 
    }

    .colorC2 {
        background-color: #b969fe"; 
    }
</style>

<% if current_user.student? %>
    <div style= "margin-top: 20px; margin-left: 20px;"> 
        <h1 style= "font-weight: bold"> Home </h1>
        <br>
        <meta name="csrf-token" content="<%= form_authenticity_token %>" />
        <h4> Tareas pendientes <h4>
        <div class="grid-container-wrapper">
            <div class="grid-container" id="gridContainer">
            <% @pending_tasks.each_with_index do |task, index| %>
                <% color_class = "colorP#{index}"%> 
                <div class="grid-item <%= color_class %>" data-task-id="<%= task.id %>" data-task-complexity="<%= task.complexity %>">
                        <div class="task-content">
                            <div style= "margin-left: 20px;">
                                <h5 style= "font-weight: bold"> Tarea <%= task.number %> </h5> 
                                <p style= "font-size: 14px;"> <%= task.complexity %> </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        <br>
        <h4> Tareas pasadas del módulo <h4>
        <div class="grid-container" id="gridContainer2">
        <% @completed_or_skipped_tasks.each_with_index do |task, index| %>
            <% color_class = "colorC#{index}"%> 
            <div class="grid-item <%= color_class %>" data-task-id="<%= task.id %>" data-task-complexity="<%= task.complexity %>">
                <div class="task-content">
                    <div style= "margin-left: 20px;">
                        <h5 style= "font-weight: bold"> Tarea <%= task.number %> </h5> 
                        <p style= "font-size: 14px;"> <%= task.complexity %> </p>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="vertical-line"></div>
        <div style= "width: 250px; height: 300px; background-color: #d8d8d8; position: absolute; top: 120px; right: 110px; border: 2px solid #b8b9b9;"> 
            <div style= "width: 246px; height: 100px; background-color: white; margin-top: 196px; border-top: 2px solid #b8b9b9;">
                <h3 style= "font-weight: bold; font-size: 14px; margin-top: 10px; margin-left: 73px;"><%= current_user.name + " " + current_user.last_name%></h3>
                <p style= "font-size: 12px; margin-left: 37px;">Email: <%= current_user.email%></p>
            </div>
            <div>
                <h2 style= "margin-top: 10px; margin-left: 50px; font-weight: bold;"> Nivel del estudiante </h2>
                <canvas id="progressChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    </div>
<% else %>
    <div>
    </div>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var gridItems = document.querySelectorAll('.grid-item');

    gridItems.forEach(function(item) {
        item.addEventListener('click', function() {
            var taskId = this.dataset.taskId;
            var taskComplexity = this.dataset.taskComplexity;

            var url;

            var csrfToken = document.querySelector("meta[name=csrf-token]").content;
            $.ajax({
            type: "POST",
            url: "/redirect_to_task",
            data: { complexity: taskComplexity, task: taskId },
            headers: {
                "X-CSRF-Token": csrfToken
            },
            success: function(response) {
                var generatedUrl = response.url;
                window.location.href = generatedUrl;
            }
            });
        });
    });
});

document.addEventListener('DOMContentLoaded', function() {
  var ctx = document.getElementById('progressChart').getContext('2d');

  var progressChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [50, 50], // Asegúrate de que la suma sea 100
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)', // Color del relleno
          'rgba(255, 99, 132, 0.2)' // Color de fondo
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      cutoutPercentage: 80, // Porcentaje de corte ajustado
      rotation: 1 * Math.PI, // Empieza en la parte superior
      circumference: 1 * Math.PI, // Circunferencia completa
      tooltips: {
        enabled: false
      }
    }
  });

  // Función para actualizar el progreso
  function actualizarProgreso(nivel) {
    progressChart.data.datasets[0].data[0] = nivel;
    progressChart.data.datasets[0].data[1] = 100 - nivel;
    progressChart.update();
  }

  // Ejemplo de uso (para actualizar el progreso a 75%)
  var nivelEstudiante = 75;
  actualizarProgreso(nivelEstudiante);
});
</script>