
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>

  .send-button {
    position: relative;
    bottom: 20px;
    right: 20px; 
  }

  .continue-button {
    position: relative;
    bottom: 20px; 
    right: 150px; 
  }
</style>

<div style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 200px;">
  <div>
    <% if @respuesta.present? %>
      <%= @respuesta %>
    <% else %>
      <%= @respuesta1 %>
      <%= @respuesta2 %>
    <% end %>
    <div style= "display: flex; align-items: center; margin-bottom: 24px;"> 
      <h3 style="margin-right: 15px;"><b>Tarea</b></h3> 
      <h3><b><%= @task.number%></b></h3>
      <h5 style= "margin-top: 5px; margin-left: 20px;">Compleja</h5> 
      <div style="position: absolute; right: 0; display: flex; align-items: center; margin-right: 70px;">
        <% if @error_count == 0 %>
          <div style="margin-right: 120px;">
            <div class="alert alert-success" role="alert" style = "align-items: center; margin-top: 5px; margin-bottom: 5px; width: 100%;"><div style="align-items: center;"><b>¡Correcta!</b><br>Bien hecho</div></div>
          </div>
        <% end %>
        <% if @error_count == 1 || @error_count == 2 %>
          <div class="alert alert-danger" role="alert" style = "align-items: center; margin-top: 5px; margin-bottom: 5px; margin-right:100px; width: 80%; height: 30px;">
            <div style="display: flex; align-items: center; margin-top: -11px;"><b>Respuesta incorrecta</b></div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="background-color: white; width: 1050px; border: 2px solid #dbdbdb">
        <div style="margin-top: 20px; margin-left: 20px; margin-right: 20px; text-align: center;">
          <span style="font-size: 21px;"><%= @enunciado %></span>
          <br>
          <% if @numerical_question.template == 1 %> <!-- (m0-d1) -->
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/91/d7/a5/91d7a5033e09c0548228ed8614ac65f7.jpg" alt="Image Description" width="300" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 16px; font-weight: bold; position: absolute; top: 56%; left: 0px; transform: translate(0, -50%);"><%= @valor_temp %></span>
              <span style="font-size: 16px; font-weight: bold; font-style: italic; position: absolute; top: 15%; left: 90px; transform: translate(0, -50%);">P=<%= @presion %> kPa</span>
            </div>
          <% elsif @numerical_question.template == 2 %>  <!-- (m1-d2) -->
            <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/d1/b8/47/d1b847f6dbf48f912e5e7d8b2d0b0b5e.jpg" alt="Image Description" width="270" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 25%; left: 10px; transform: translate(0, -50%);"><%= @p1 %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 74%; left: 10px; transform: translate(0, -50%);"><%= @p2 %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 80px; transform: translate(0, -50%);"><%= @v1 %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 155px; transform: translate(0, -50%);"><%= @v2 %></span>
            </div>
          <% elsif @numerical_question.template == 3 %>  <!-- (m1-d0) -->
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/f7/92/f2/f792f21f0b150675adf8a19e62b8b6be.jpg" alt="Image Description" width="170" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 30%; left: 50px; transform: translate(0, -50%);">1 atm</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 45%; left: 50px; transform: translate(0, -50%);"><%= @t_agua_sat %> °C</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 60%; left: 50px; transform: translate(0, -50%);"><%= @masa_kg_val %> kg</span>
            </div>
          <% elsif @numerical_question.template == 4 %>  <!-- (m1-d1) -->
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/ce/64/41/ce64413634e4a4c0be46d54b3e9eaf08.jpg" alt="Image Description" width="300" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 90%; left: 95px; transform: translate(0, -50%);"><%= @v1 %></span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 90%; left: 180px; transform: translate(0, -50%);"><%= @v2 %></span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 20%; left: 150px; transform: translate(0, -50%);">T= <%= @t1 %> K</span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 30%; left: 150px; transform: translate(0, -50%);"><%= @n %> moles</span>
            </div>
          <% elsif @numerical_question.template == 5 %> <!-- (m0-d2) -->
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/7f/8b/bd/7f8bbd1e7e4a6aead601a6a9535911f5.jpg" alt="Image Description" width="400" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 35%; left: 300px; transform: translate(0, -50%);"><%= @temp_cVap %> ºC</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 50%; left: 300px; transform: translate(0, -50%);"><%= @masa_total %> kg</span>
              <span style="font-size: 30px; font-weight: bold; position: absolute; top: 65%; left: 150px; transform: translate(0, -50%);"><%= @masa_agua %> kg</span>
            </div>
          <% elsif @numerical_question.template == 6 %>  <!-- (m0-d0) -->
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/4e/89/1d/4e891d898ba9ec1df1103bde53a13d67.jpg" alt="Image Description" width="170" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 25%; left: 40px; transform: translate(0, -50%);">R-134a</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 40%; left: 40px; transform: translate(0, -50%);"><%= @presion_134a %> kPa</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 55%; left: 40px; transform: translate(0, -50%);"><%= @volumen_L %> L</span>
              <span style="font-size: 18px; font-weight: bold; position: absolute; top: 70%; left: 40px; transform: translate(0, -50%);"><%= @masa_kg %> kg</span>
            </div>
          <% elsif @numerical_question.template == 7 %>  <!-- (m2-d1) -->
          <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/3f/46/78/3f46789f0847fa1deb4aebb0447e9a23.jpg" alt="Image Description" width="400" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 50%; left: 80px; transform: translate(0, -50%);"><%= @masa_g %> g</span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 60%; left: 80px; transform: translate(0, -50%);"><%= @temp_hielo %> ºC</span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 35%; left: 280px; transform: translate(0, -50%);"><%= @temp_agua %> ºC</span>
            </div>
          <% elsif @numerical_question.template == 8 %>  <!-- (m2-d0) -->
          <% elsif @numerical_question.template == 9 %>  <!-- (m2-d2) -->
          <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/6e/39/15/6e3915cbb0438846da1e5bbd1cd2221c.jpg" alt="Image Description" width="400" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 50%; left: 90px; transform: translate(0, -50%);"><%= @masa_g %> g</span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 60%; left: 90px; transform: translate(0, -50%);"><%= @temp_hielo %> ºC</span>
              <span style="font-size: 15px; font-weight: bold; position: absolute; top: 25%; left: 280px; transform: translate(0, -50%);"><%= @temp_vapor %> ºC</span>
            </div>
          <% elsif @numerical_question.template == 11 %>  <!-- (m4-d0) Tanque -->
          <% elsif @numerical_question.template == 13 %>  <!-- (m3-d0) -->
          <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/f8/ca/3a/f8ca3a2357478db086a0acf6da3d28a4.jpg" alt="Image Description" width="300" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 24%; left: 0px; transform: translate(0, -50%);"><%= @p2pa %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 70%; left: 0px; transform: translate(0, -50%);"><%= @p1pa %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 90px; transform: translate(0, -50%);"><%= @v1 %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 170px; transform: translate(0, -50%);"><%= @v2 %></span>
            </div>
          <% elsif @numerical_question.template == 14 %>  <!-- (m3-d1) -->
          <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/0f/42/cd/0f42cd30f20d38f2937e21786bd6083f.jpg" alt="Image Description" width="300" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 25%; left: 28px; transform: translate(0, -50%);"><%= @t2C %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 70%; left: 28px; transform: translate(0, -50%);"><%= @t1C %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 90px; transform: translate(0, -50%);"><%= @volumen_L %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 177px; transform: translate(0, -50%);"> ? </span>
            </div>
          <% elsif @numerical_question.template == 15 %>  <!-- (m3-d2) -->
          <br>
            <div style="position: relative; display: inline-block;">
              <img src="https://i.pinimg.com/564x/9b/12/c7/9b12c737d125f5b386c9a1969169acb5.jpg" alt="Image Description" width="300" height="200" style="display: block; margin: 0 auto;">
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 25%; left: 25px; transform: translate(0, -50%);">100</span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 68%; left: 25px; transform: translate(0, -50%);"><%= @temp_agua %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 93%; left: 90px; transform: translate(0, -50%);"><%= @p1pa %></span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 95%; left: 177px; transform: translate(0, -50%);">?</span>
              <span style="font-size: 13px; font-weight: bold; position: absolute; top: 25%; left: 210px; transform: translate(0, -50%);"><%= @n %> moles</span>
            </div>
          <% end %>
        </div>

        <hr style="margin: 0; border: 1.5px solid #dbdbdb; margin-top: 10px; margin-left: 30px; margin-right: 40px;">
        <% if @show_hint %>
          <div style="display: flex; justify-content:center;">
            <div class="alert alert-warning" role="alert" style = " margin-top: 5px; margin-bottom: 5px; width: 70%;"><b>Hint</b><br><%= @numerical_question.hint %></div>
          </div>
        <% end %>
        <div class="align-items-center">
          <% if !@two_answer %>
            <div class="form-group d-flex align-items-center" style="margin-top: 20px; margin-bottom: 20px; justify-content: center;">
              <label style="margin-left: 10px; margin-right: 10px;" for="exampleFormControlInput1">Tu respuesta:</label>
              <% if @error_count == 1 || @error_count == -1 %>
                <input style="width: 50vh" type="text" class="form-control" id="myAnswer" placeholder="Redondear a 3 decimales">
              <% else %>
                <div class="d-flex align-items-center">
                  <input style="width: 50vh" type="text" class="form-control" id="staticAnswer" placeholder = "<%=@final_answer%>" disabled>
                  <% if @error_count == 2 %>
                    <div class="alert alert-info" role="alert" style="margin-left: 10px;">Respuesta: <%= @respuesta.round(3) %></div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="form-group d-flex align-items-center" style="margin-top: 20px; margin-bottom: 20px; justify-content: center;">
              <label style="margin-left: 10px; margin-right: 10px;" for="exampleFormControlInput1">a)</label>
              <% if @error_count == 1 || @error_count == -1 %>
                <input style="width: 50vh" type="text" class="form-control" id="myAnswerA" placeholder="Redondear a 3 decimales">
              <% else %>
                <div>
                  <% if @error_count == 2 %>
                    <div class="alert alert-info" role="alert" style="margin-left: 10px; width: 200px;">Respuesta: <%= @respuesta1.round(3) %></div>
                  <% end %>
                  <input style="width: 50vh" type="text" class="form-control" id="staticAnswer" placeholder = "<%=@final_answer_a%>" disabled>
                </div>
              <% end %>
              <label style="margin-left: 10px; margin-right: 10px;" for="exampleFormControlInput1">b)</label>
              <% if @error_count == 1 || @error_count == -1 %>
                <input style="width: 50vh" type="text" class="form-control" id="myAnswerB" placeholder="Redondear a 3 decimales">
              <% else %>
                <div>
                  <% if @error_count == 2 %>
                    <div class="alert alert-info" role="alert" style="margin-left: 10px; width: 200px;">Respuesta: <%= @respuesta2.round(3) %></div>
                  <% end %>
                  <input style="width: 50vh" type="text" class="form-control" id="staticAnswer" placeholder = "<%=@final_answer_b%>" disabled>
                </div>
              <% end %>
            </div>
          <% end %>
          <meta name="csrf-token" content="<%= form_authenticity_token %>" />
          <% if @error_count == 1 || @error_count == -1 %>
            <% if !@two_answer %>
              <div style="margin-top: 20px; margin-left: 20px;">
                <button style="margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;"
                type="submit" onclick= "handleSendOne()" >Enviar</button>
              </div>
            <% else %>
              <div style="margin-top: 20px; margin-left: 20px;">
                <button style="margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;"
                type="submit" onclick= "handleSendDouble()" >Enviar</button>
              </div>
            <% end %>
          <% end %>
          <% if @error_count == 0 || @error_count == 2 %>
            <a href="/" style= "margin-left: 450px; margin-bottom:20px; margin-top: 10px; text-decoration: none; color: white; border: 2px solid #c73dff; background-color: #c73dff; border-radius: 8px; font-size: 18px; padding: 10px 20px;" type="submit" >Continuar</a>
          <% end %>
        </div>
    </div>
  </div>
</div>

<script>

function handleSendOne() {
  var inputValue = parseFloat(document.getElementById("myAnswer").value);
  var realAnswer = parseFloat("<%= @respuesta %>")
  var errorCounter = parseInt("<%= @error_count %>")
  var realAbs = Math.abs(realAnswer)
  var inputAbs = Math.abs(inputValue)
  if ((inputAbs >= realAbs*0.90 && inputAbs <= realAbs*1.10) && (realAnswer/realAbs === inputValue/inputAbs)) {
    errorCounter = 0;
  } else {
    if (errorCounter === -1) {
      errorCounter = 1;
    } else {
      errorCounter = 2;
    }
  }
  var csrfToken = document.querySelector("meta[name=csrf-token]").content;
  $.ajax({
    type: "POST",
    url: "/update_error_counter_numerical",
    data: { id: <%= @numerical_question.id %>, error_counter: errorCounter, input_value: inputValue, cantidad_respuestas: "one", task_id: <%= @task.id %> },
    headers: {
      "X-CSRF-Token": csrfToken
    }
  });
}

function handleSendDouble() {
  var inputValueA = parseFloat(document.getElementById("myAnswerA").value);
  var inputValueB = parseFloat(document.getElementById("myAnswerB").value);
  var realAnswerA = parseFloat("<%= @respuesta1 %>")
  var realAnswerB = parseFloat("<%= @respuesta2 %>")
  var realAbsA = Math.abs(realAnswerA)
  var inputAbsA = Math.abs(inputValueA)
  var realAbsB = Math.abs(realAnswerB)
  var inputAbsB = Math.abs(inputValueB)
  var errorCounterD = parseInt("<%= @error_count %>")
  if ((inputAbsA >= realAbsA*0.90 && inputAbsA <= realAbsA*1.10) && 
    (inputAbsB >= realAbsB*0.90 && inputAbsB <= realAbsB*1.10) && 
    (Math.sign(realAnswerA) === Math.sign(inputValueA)) && 
    (Math.sign(realAnswerB) === Math.sign(inputValueB))) {
    errorCounterD = 0;
  }
  else{
    if (errorCounterD === -1){
      errorCounterD = 1;
    }
    else{
      errorCounterD = 2;
    }
  }
  var csrfToken = document.querySelector("meta[name=csrf-token]").content;
  $.ajax({
    type: "POST",
    url: "/update_error_counter_numerical",
    data: { id: <%= @numerical_question.id %>, error_counter: errorCounterD, input_valueA: inputValueA, input_valueB: inputValueB, cantidad_respuestas: "two", task_id: <%= @task.id %> },
    headers: {
      "X-CSRF-Token": csrfToken
    }
  });
}

</script>