<nav class="navbar navbar-expand-lg navbar-dark" style= "background: #696968;">
  <div>
    <% if current_user.student? %>
      <ul class="navbar-nav d-flex">
        <li class="nav-item p-2">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to 'Tasks', tasks_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item ml-auto p-2">
          <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav d-flex">
        <li class="nav-item p-2">
          <%= link_to 'Dashboard', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to 'All tasks', tasks_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to 'Create Task', new_task_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item ml-auto p-2">
          <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  <div>
</nav>